<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233630468498-12ue0hjgh5rsv3bfh38a6tt06m422aed.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233630468498-12ue0hjgh5rsv3bfh38a6tt06m422aed</string>
	<key>API_KEY</key>
	<string>AIzaSyAgzrQ3SsKtZiNRLN7AJm5a_BphYKpLE44</string>
	<key>GCM_SENDER_ID</key>
	<string>233630468498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.melihyuvaci.MeetingApp</string>
	<key>PROJECT_ID</key>
	<string>meetingapp-59fdf</string>
	<key>STORAGE_BUCKET</key>
	<string>meetingapp-59fdf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233630468498:ios:28ddc9ac884eb23acc994b</string>
</dict>
</plist>